.form-login_container {
  width: 20rem;
  text-align: center;
}

.form-login {
  padding: 0 1rem;
  width: 100%;
}

.login-label {
  margin: 1rem 0;
}

.input-login-form {
  border: 1px solid var(--grey-input);
  height: 30px;
  margin: 10px 0;
  padding: 5px;
  border-radius: 3px;
  width: 100%;
}

.connexion-btn {
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: va(--grey-input);
  color: var(--background-color);
  text-transform: uppercase;
  cursor: pointer;
  transition: all, 0.3s;
}

.connexion-btn:hover {
  border: 1px solid rgb(250, 250, 250);
  color: white;
}
.connexion-btn-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2rem 0;
}

.connexion-done {
  text-align: center;
  margin: 20px;
  font-style: italic;
}
