.description-about-container {
  width: 100%;

  display: flex;
  justify-content: center;
}
.description-column {
  width: 50%;
  text-align: justify;
  position: relative;
}

.p-content {
  text-align: justify;
  margin-top: 3%;
  animation: fadeIn 3s;
  font-size: 1.1rem;
  word-wrap: break-word;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.p-content::after {
  content: "";
  position: absolute;
  background-color: var(--primary-red);
  width: 1px;
  height: 20%;
  top: 0;
  right: -10%;
}

/* horizontal line */
.p-content::before {
  content: "";
  position: absolute;
  background-color: var(--primary-red);
  width: 20%;
  height: 1px;
  top: -5%;
  right: 0;
}
.texte-container::after {
  content: "";
  position: absolute;
  background-color: var(--primary-red);
  width: 1px;
  height: 20%;
  bottom: 0;
  left: -10%;
}

/* horizontal line */
.texte-container::before {
  content: "";
  position: absolute;
  background-color: var(--primary-red);
  width: 20%;
  height: 1px;
  bottom: -5%;
  left: 0;
}

@media screen and (max-width: 800px) {
  .p-content {
    font-size: 1rem;
  }
  .description-column {
    width: 85%;
  }
}
