.page-admin-project_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-admin-project_form-container {
  display: flex;
  flex-direction: column;
}

.page-admin-project_h1 {
  text-align: center;
}
