.form-signup {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-color);
  border-radius: 3px;
  margin: 0 1rem;
  align-items: center;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 10rem;
}
.select-dev-type {
  padding: 10px;
  cursor: pointer;
  /* border: 1px solid var((--grey-input)); */
}
.form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  margin: 0.5rem 0.5rem;
  width: 80%;
  height: 5rem;
}

.form-input_textearea {
  height: 10rem;
  margin-top: 1rem;
  border: 1px solid var(--grey-input);
  border-radius: 3px;
}

.form-label_data {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  margin: 1rem 0.5rem;
  width: 80%;
}

.signup-hide {
  display: none;
  overflow: visible;
}

.signup-invalid {
  display: inline-block;
  color: var(--primary-red);
  margin-top: 0.1rem;
  font-size: 0.7rem;
  text-align: start;
}

.form-input {
  margin-top: 10px;
  padding: 7px;

  border: 1px solid var(--grey-input);
  border-radius: 3px;
}

.form-signup_errorMsg {
  margin-bottom: 1.5rem;
  color: var(--primary-red);
}

.connexion-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  width: 100%;
}

button:disabled {
  background-color: rgb(199, 197, 197);
  color: white;
}

.form-btn {
  padding: 5px 10px;
  background-color: grey;
  color: white;
  border-radius: 3px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid white;
  width: 100px;
}

@media screen and (min-width: 320px) {
  .form-label {
    width: 15rem;
  }
  .form-label_data {
    width: 18rem;
    /* height: 20rem; */
  }
}

@media screen and (min-width: 768px) {
  .form-signup {
    width: 40rem;
    border: 1px solid white;
    padding: 50px;
    border-radius: 5px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .form-label_data {
    width: 30rem;
  }
}
